@media (max-width: 428px) {
    .container {
        max-width: 428px;
        padding: 0 16px;
        margin: 0 auto;
    }

    .header--padding {
        padding-bottom: 0;
    }

    .designer {
        padding-top: 30px;
        padding-bottom: 64px;
    }

    .designer__row {
        width: 100%;
        flex-direction: column;
        row-gap: 24px;
    }

    .designer__row-imege {
        width: 100%;
    }

    .scills {
        padding-top: 30px;
        padding-bottom: 64px;
    }
}

/* END */